<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="DalAssemblyName" value="Me.AppPass.DAL"/>
    <add key="DalType" value="AppSettings"/>
    <!--AppSettings - MsAccess ...-->
    <add key="jow1" value="REV_5.00\0C0706006395"/>
    <add key="jow" value="010238a53e"/>
    <add key="btsiris" value="REV_8.02\0266711AE8111C8C"/>
    <add key="tata" value="1234567"/>
  </appSettings>
  
  <system.diagnostics>
    <switches>
      <!-- 
             
            This switch controls general messages. In order to 
            receive general trace messages change the value to the 
            appropriate level. 
             
            "0" Off
            "1" Error messages
            "2" Warning, gives Error and Warning messages
            "3" Information, gives Error, Warning and Information messages
            "4" Verbose, gives Error, Warning, Information and Verbose messages
             
            -->
      <add name="Me.AppPass.UI.TraceLevelSwitch" value="4" />
    </switches>

    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="Me.AppPass.UI.Listener" type="System.Diagnostics.TextWriterTraceListener" initializeData="./Logs/Me.AppPass.UI.log"/>
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>
